.btn {
  background-color: $button-bg;
  padding: 0;
  border-radius: 5px;
  color: $white;

  a {
    color: $white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;

    @media screen and (max-width: $breakpoint-tablet) {
      font-size: 1rem;
    }
  }
}
