%message-shared {
    text-transform: uppercase;
}

h5 {
    @extend %message-shared;
    font-weight: bold;
}

h4 {
    @extend %message-shared;
}

li {
    list-style: none;
}

a {
    @extend %message-shared;

    a:hover {
        text-decoration: none;
    }
}

h3 {
    @extend %message-shared;
}

i {
    color: $white;
}

hr {
    background-color: $white;
    width: 90%;
    margin: 2rem auto !important;
}

h6 {
    font-weight: 600;
    font-size: 1.3rem;

}

.container {
    margin: 0 auto !important;
}