%message-shared {
  text-transform: uppercase;
}

h5 {
  @extend %message-shared;
  font-weight: bold;
}

h4 {
  @extend %message-shared;
}

li {
  list-style: none;
}

a {
  @extend %message-shared;
  text-decoration: none !important;
}

h3 {
  @extend %message-shared;
}

i {
  color: $white;
}

hr {
  background-color: $white;
  width: 90%;
  margin: 2rem auto !important;
}

h6 {
  font-weight: 600;
  font-size: 1.3rem;
}

.container {
  margin: 0 auto !important;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0, 0 , 0, 0.8) !important;
  color: $white;
}

.main-menu .menu-item .main-menu-item a:hover {
  color: $white !important;
}

.row {
  margin-right: 0;
  margin-left: 0;
}