$footer-bg: #edeef3;
$copyright-bg: #d2d2d5;
$copyright-text: #878788;
$button-bg: #5d69c3;
$text-color: #777777;
$white: #fff;
$black: #000;
$top-menu-bg: #40489d;
$header-bg: #414aa9;
$footer-contact-bg: #5863be;
$ad-bg: #555fbb;
$about-bg: #edeef3; 
$testimonial-bg: #35393c;
