/* Import theme styles */
.logo-section, .top-menu, h3, a, h4, h5 {
  text-transform: uppercase;
}

h5 {
  font-weight: bold;
}

li {
  list-style: none;
}

i {
  color: #fff;
}

hr {
  background-color: #fff;
  width: 90%;
  margin: 2rem auto !important;
}

.logo-section, .top-menu, h5, h4, a, h3 {
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.top-menu-container {
  background-color: #40489d;
}
@media screen and (max-width: 576px) {
  .top-menu-container {
    display: none;
  }
}

.top-menu {
  width: 90%;
  margin: 0 auto !important;
  padding: 0;
}

.menu-item {
  padding-right: 1rem;
  display: inline-flex;
}
.menu-item a {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .menu-item {
    display: block;
  }
}

.logo-container {
  background-color: #414aa9;
}

.logo-section {
  margin: 0 auto !important;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (max-width: 576px) {
  .logo-section {
    position: relative;
  }
}

.main-menu {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  top: 140px;
  left: 5%;
  width: 90%;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (max-width: 576px) {
  .main-menu {
    display: none;
    z-index: 99999;
    top: 105px;
  }
}

.main-menu-item a {
  color: #000 !important;
}

.call-mail-menu p, .call-mail-menu h5 {
  color: #fff;
}

.menu-icon i {
  color: #000;
}

@media screen and (max-width: 576px) {
  .contact-info {
    display: none;
  }
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #878788;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn i {
  color: #000;
}

.menu-icon a {
  background-color: #40489d;
  border-radius: 5px;
  margin: -1rem !important;
}

.logo-menu-icon i {
  color: #fff;
}

.mobile-nav {
  display: none;
}
@media screen and (max-width: 576px) {
  .mobile-nav {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.copyright {
  background-color: #d2d2d5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyright p {
  color: #878788;
  text-transform: capitalize;
  font-size: 16px;
  margin: 0 auto !important;
  width: 90%;
}

footer {
  background-color: #edeef3;
}

.footer-container {
  width: 90%;
  margin: 0 auto !important;
}
@media screen and (max-width: 1024px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 576px) {
  .footer-container {
    display: block;
  }
}

.footer-col {
  padding: 7rem 0;
}
.footer-col p {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 2rem 0;
}
.footer-col h5 {
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .footer-menu-container {
    display: none;
  }
}

.footer-menu a {
  font-weight: 400;
  color: #878788;
  padding: 1rem;
  font-size: 1.3rem;
}
.footer-menu a:hover {
  background-color: #fff;
}

.footer-side {
  padding: 7rem 0;
  background-color: #414aa9;
}
@media screen and (max-width: 1024px) {
  .footer-side {
    display: none;
  }
}

#logo-school {
  height: auto;
  width: 100px;
}

.contact-footer {
  background-color: #5863be;
}

.contact-logo {
  padding-left: 1rem;
}
.contact-logo img {
  margin-right: 2rem !important;
}
@media screen and (max-width: 1024px) {
  .contact-logo img {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .contact-logo img {
    width: auto;
    height: 40px;
  }
}

.footer-call h4 {
  font-weight: 700;
  font-size: 1.3rem;
  color: #fff;
}
.footer-call p {
  font-weight: 300;
  font-size: 1.3rem;
  color: #fff;
  padding-left: 5px;
}

.footer-contact h5 {
  display: block !important;
  font-weight: 700;
  font-size: 1.3rem;
  color: #fff;
  padding-left: 0px;
  width: 90%;
  margin: 0 auto !important;
}
.footer-contact p {
  font-weight: 300;
  font-size: 1.3rem;
  color: #fff;
  width: 90%;
  margin: 0 auto !important;
}

.footer-icon i {
  font-size: 3rem;
}

* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  transition: 0.5s ease;
}

#about {
  background-color: #edeef3;
}

.about-container {
  margin: 0 auto !important;
  width: 90%;
}
.about-container h4 {
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
  display: block !important;
  padding-top: 6rem;
}
.about-container p {
  font-weight: 300;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
  color: #a6a7a9;
}

.signe {
  text-align: center;
  padding: 5rem 0;
}
.signe h6 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.signe p {
  font-size: 1.5rem;
  color: #a6a7a9;
}

#events {
  padding: 7rem 0;
  width: 90%;
  margin: 0 auto !important;
}

.events-text h4 {
  font-weight: 600;
  font-size: 2rem;
  display: block !important;
  text-align: left;
  padding: 0;
}
.events-text p {
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #a6a7a9;
  padding: 5px 0;
}
.events-text h6 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.3rem;
}

.events-img {
  padding: 4px 0;
}
.events-img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 576px) {
  .events-img img {
    padding: 2rem 0;
  }
}

.events-schedule {
  background-color: #4f59b6;
  border-radius: 5px;
}
.events-schedule h4 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
  text-transform: capitalize;
}
.events-schedule p {
  font-weight: 300;
  color: #fff;
  text-align: start;
}
.events-schedule h5 {
  color: #fff;
}

p span {
  padding: 20px;
}

#feature {
  width: 90%;
  margin: 7rem auto !important;
}

.feature-container {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .feature-container {
    margin: 2rem 0 !important;
  }
}
.feature-container img {
  width: 100%;
  height: auto;
}

.feature-text {
  position: absolute;
  z-index: 999;
  top: 77px;
}
.feature-text h4 {
  margin: 0 auto !important;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 90%;
  display: block !important;
}
.feature-text p {
  margin: 0 auto !important;
  width: 90%;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.banner-text {
  position: absolute;
  left: 200px;
  top: 130px;
  z-index: 999;
}
.banner-text h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px !important;
}
@media screen and (max-width: 768px) {
  .banner-text h2 {
    font-size: 2.8rem;
    margin-bottom: 13px !important;
  }
}
@media screen and (max-width: 576px) {
  .banner-text h2 {
    font-size: 1.7rem;
    margin-bottom: 6px !important;
  }
}
.banner-text h5 {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 2rem;
  color: gray;
  margin-bottom: -2rem !important;
}
@media screen and (max-width: 576px) {
  .banner-text h5 {
    font-size: 1rem;
  }
}
.banner-text p {
  font-weight: normal;
  width: 50%;
  text-align: left;
  margin-bottom: 30px !important;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .banner-text p {
    margin-bottom: 13px !important;
  }
}
@media screen and (max-width: 576px) {
  .banner-text p {
    margin-bottom: 6px !important;
    width: 100%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .banner-text {
    left: 53px;
    top: 84px;
  }
}
@media screen and (max-width: 768px) {
  .banner-text {
    left: 53px;
    top: 40px;
  }
}
@media screen and (max-width: 576px) {
  .banner-text {
    left: 10px;
    top: 6px;
  }
}

.banner-img {
  position: relative;
}
.banner-img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 576px) {
  .banner-img img {
    height: 200px;
    object-fit: cover;
  }
}

#testimonial {
  background-image: url("../../assets/img/background.png");
  padding: 7rem 0;
}

.testimonial-container {
  width: 90%;
  margin: 0 auto !important;
}
.testimonial-container h4 {
  font-weight: 600;
  font-size: 3rem;
  text-transform: capitalize;
  padding: 2rem 0;
  display: block !important;
  text-align: center;
  color: #fff;
}

.testimonial-text {
  padding: 3rem;
  background-color: #35393c;
  border-radius: 5px;
}
.testimonial-text p {
  color: #fff;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 5px;
}
.testimonial-text h3 {
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 2rem 0 0;
}
@media screen and (max-width: 1024px) {
  .testimonial-text {
    margin: 3rem 0 !important;
  }
}

#news {
  padding: 7rem 0;
}

.news-container {
  width: 90%;
  margin: 0 auto !important;
}

.news-update {
  border: 1px solid #eeeeee;
  margin: 0 1px;
}
.news-update img {
  width: 100%;
  height: auto;
}

.news-text h4 {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem 0;
  text-transform: capitalize;
}
.news-text p {
  font-weight: 300;
  font-size: 1.3rem;
}
.news-text h5 {
  padding: 1rem 0;
}

.blog {
  padding: 1rem 0;
  border: 1px solid #eeeeee;
}
.blog h4 {
  font-weight: 600;
  text-transform: capitalize;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto !important;
}
.blog p {
  font-weight: 300;
  font-size: 1.3rem;
  display: block !important;
  width: 90%;
  margin: 0 auto !important;
}

#calltoaction {
  width: 90%;
  margin: 5rem auto !important;
  padding: 20px;
  background-color: #555fbb;
  border-radius: 5px;
}
@media screen and (max-width: 576px) {
  #calltoaction {
    display: none;
  }
}

.action-intro {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .action-intro {
    font-size: 1.4rem;
  }
}

.rounded-button, .btn-light {
  padding: 0 30px !important;
  border-radius: 40px !important;
}
@media screen and (max-width: 768px) {
  .rounded-button, .btn-light {
    padding: 0 !important;
    border-radius: 30px !important;
  }
}

.btn-light {
  background-color: white !important;
}
.btn-light a {
  color: #5d69c3 !important;
}

.rounded-button {
  border: 1px solid #fff;
}

.btn {
  background-color: #5d69c3;
  padding: 0;
  border-radius: 5px;
}
.btn a {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .btn a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
