#about-header {
  background-image: url("../../assets/img/bg-10.jpg");
  position: relative;
  height: 300px;

  @media screen and (max-width: $breakpoint-phone) {
    margin-top: -60px !important;
  }

  .page-title-container {
    background-color: rgba(17, 17, 17, 0.75);
    height: 300px;
    width: 100%;
  }
}

.menu-container {
  .container {
    padding: 1rem !important;
  }
}

.page-title {
  position: absolute;
  top: 150px;
  left: 170px;

  @media screen and (max-width: $breakpoint-phone) {
    text-align: center;
    padding: 100px 0;
    position: unset;
  }

  h2 {
    color: $white;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 2rem;
  }

  p {
    color: $white;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.container {
  padding: 7rem 0;

  @media screen and (max-width: $breakpoint-phone) {
    padding: 3rem 0;
  }
}

.about-menu {
  padding: 5rem 0;
  @media screen and (max-width: $breakpoint-phone) {
    padding: 0;
  }

  .about-menu-item {
    display: block;
    list-style: circle !important;
    color: $black;
  }
}

.about-menu-item {
  a {
    color: $black;
    font-size: 2rem;
    font-weight: 600;
  }
}

.menu-item {
  a {
    font-weight: 400;
    font-size: 1.2rem !important;
  }

  i {
    color: $white;
  }
}

.about-text {
  font-weight: 400;
  font-size: 1.6rem;
  color: $copyright-text;
  padding: 5rem 0;
}

.message {
  font-size: 2.5rem;
  font-weight: 100;
  padding: 5rem 0;

  @media screen and (max-width: $breakpoint-tablet) {
    padding-top: 0;
    padding-bottom: 2rem;
  }
}

#tweets {
  background-image: url("../../assets/img/backgorund-twiteer_min.jpg");
  margin-top: 20rem !important;

  @media screen and (max-width: $breakpoint-phone) {
    margin-top: 90rem !important;
  }

  .tweet-feed {
    padding-top: 140px;
    text-align: center;
    width: 60%;
    margin: 0 auto !important;

    @media screen and (max-width: $breakpoint-tablet) {
      width: 80%;
    }

    @media screen and (max-width: $breakpoint-phone) {
      padding-top: 0;
    }

    i {
      font-size: 3rem;
      padding: 3rem 0;
      color: $header-bg;
    }

    p {
      color: $white;
      font-size: 1.8rem;

      a {
        color: $header-bg;
        display: inline;
        padding-right: 0rem;
        padding-left: 0rem;
      }
    }
  }

  .tweet-container {
    background-color: rgba(17, 17, 17, 0.75);
    height: 400px;
    width: 100%;
  }
}

.icon-box {
  height: 300px;
  text-align: center;
  padding: 50px 0;

  div {
    height: 70px;
  }

  h2 {
    color: $white;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 3rem;

    @media screen  and (max-width: $breakpoint-tablet){
      font-size: 2rem;
    }

    @media screen  and (max-width: $breakpoint-phone){
      font-size: 1.8rem;
    }
  }

  h6 {
    color: $white;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
}

#portfolio {
  background-color: rgba(17, 17, 17, 0.75);
  z-index: 999;
  padding-top: 7rem;

  h2 {
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    padding-top: 7rem;
  }
}

.portfolio-img {
  width: 250px !important;
}

.portfolio-container {
  margin: 10px !important;
  height: 350px;
  position: relative;

  @media screen and (min-width: $breakpoint-desktop) {
    &:hover {
      .info {
        top: 225px;
      }
    }
  }

  .info {
    position: absolute;
    top: 265px;
    width: 100%;
    background-color: $white;
    transition: all 0.3s;

    .name {
      h4 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        display: block;
        padding-bottom: 1rem;
      }

      p {
        text-align: center;
        color: $text-color;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }

    .social-link {
      a {
        display: inline-flex;
        i {
          color: $black;
          font-size: 1.5rem;
          padding-left: 1rem;
        }
      }
    }
  }

  img {
    width: 100% !important;
    transition: all 0.3s;
  }

  h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    display: block;
  }

  p {
    text-align: center;
    color: $text-color;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

#tweets {
  position: relative;
}

.icon-container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 999;

  @media screen and (max-width: $breakpoint-phone) {
    top: -450px;
  }

  .row {
    @media screen and (max-width: 575px) {
      display: block;
    }
  
  }
}

.counter-box {
  text-align: center;

  @media screen and (max-width: $breakpoint-phone) {
    padding-bottom: 5rem;
  }

  h1 {
    color: #0073bb;
    font-size: 100px;
    font-weight: 700;
    margin: 0px 0px 5px 0px;
    @media screen and (max-width: $breakpoint-tablet) {
      font-size: 85px;
    }
  }

  h6 {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1rem 0;
  }

  p {
    font-size: 1.6rem;
    font-weight: 400;
    color: $text-color;
  }
}

#certificate-carousel {
  padding-top: 10rem;

  p {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $text-color;
    text-align: center;
  }

  h2 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: capitalize;
    color: $black;
    text-align: center;
  }
}

.img-container {
  a {
    padding: 0;
    height: 185px;
    width: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.lg-img-container {
  a {
    padding: 0;
    height: 400px;
    width: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.testimonial-content {
  text-align: center;
  width: 80%;
  margin: 0 auto !important;

  .content {
    padding-top: 0;

    i {
      color: $text-color;
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .author {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 2rem;
    span {
      color: $header-bg;
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

.custom-row {
  margin-bottom: 3rem !important;
}

#testimonial-container {
  position: relative;

  @media screen and (max-width: $breakpoint-desktop) {
    padding-bottom: 4rem;
  }

  @media screen and (max-width: $breakpoint-phone) {
    padding-bottom: 4rem;
  }
}

#carousel-custom-dots {
  position: absolute;
  display: inline-flex;
  top: 85%;
  left: 41%;

  .owl-dot {
    height: 50px;
    width: 50px;
    color: red;
    z-index: 99999;

    img {
      border-radius: 3rem;
      object-fit: cover;
      width: 100%;
      height: auto;
      filter: grayscale(100%);
    }
  }
}

.active {
  img {
    filter: grayscale(0);
  }
}

.gallery-container {
  padding-bottom: 0;
}
