.banner-text {
    position: absolute;
    left: 200px;
    top: 130px;
    z-index: 999;

    h2 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 30px !important;
    }

    h5 {
        font-weight: normal;
        text-transform: lowercase;
        font-size: 2rem;
        color: gray;
        margin-bottom: -2rem !important;
    }

    p {
        font-weight: normal;
        width: 50%;
        text-align: left;
        margin-bottom: 30px !important;
    }
}

.banner-img {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

}