.banner-text {
  position: absolute;
  left: 150px;
  top: 65px;
  z-index: 1;

  h2 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px !important;

    @media screen and (max-width: $breakpoint-tablet) {
      font-size: 2.8rem;
      margin-bottom: 13px !important;
    }

    @media screen and (max-width: $breakpoint-phone) {
      font-size: 1.7rem;
      margin-bottom: 6px !important;
    }
  }

  h5 {
    font-weight: normal;
    text-transform: lowercase;
    font-size: 2rem;
    color: gray;
    margin-bottom: -2rem !important;
    padding-left: 0;

    @media screen and (max-width: $breakpoint-phone) {
      font-size: 1rem;
    }
  }

  p {
    font-weight: normal;
    width: 50%;
    text-align: left;
    margin-bottom: 30px !important;
    font-size: 1.5rem;
    color: $text-color;

    @media screen and (max-width: $breakpoint-tablet) {
      margin-bottom: 13px !important;
      font-size: 1.3rem;
    }

    @media screen and (max-width: $breakpoint-phone) {
      margin-bottom: 6px !important;
      width: 100%;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: $breakpoint-desktop) {
    left: 110px;
    top: 35px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    left: 80px;
    top: 15px;
  }

  @media screen and (max-width: $breakpoint-phone) {
    left: 10px;
    top: 6px;
  }
}

.banner-img {
  position: relative;

  img {
    width: 100%;
    height: auto;

    @media screen and (max-width: $breakpoint-phone) {
      height: 200px;
      object-fit: cover;
    }
  }
}
