.entry-thumbanil {
  height: 200px;
  width: 200px;
}

.thumbnail {
  width: 100% !important;
}

.events-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.date-event {
  background-color: $header-bg;
  color: $white;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  height: 75px;
  width: 75px;
  margin: 2rem 0 !important;

  @media screen and (max-width: $breakpoint-phone) {
    font-size: 1.2rem;
  }

  span {
    font-size: 3.7rem;
    font-weight: 600;
    color: $white;
    text-align: center;

    @media screen and (max-width: $breakpoint-tablet) {
      display: block;
    }
  }
}

.meta-event {
  span {
    color: $text-color;
    font-weight: 400;
    font-size: 1.5rem;
    display: block;

    i {
      color: $header-bg !important;
      font-size: 1.6rem;
      padding-right: 1rem;
    }
  }
}

.banner-meta-event {
  span {
    color: $text-color;
    font-weight: 400;
    font-size: 1.7rem;
    display: inline-block;
    padding-right: 2rem;

    i {
      color: $text-color !important;
      font-size: 2rem;
      padding-right: 1rem;
    }
  }
}

.title-event {
  a {
    padding: 2rem 0;

    h4 {
      font-size: 2rem;
      font-weight: 400;
      text-transform: capitalize;
      color: $black;
      padding: 0;
    }
  }
}

.thumbnail-container {
  position: relative;
}

.event-container {
  position: absolute;
  top: 340px;
  left: 100px;
  background-color: $white;
  text-align: center;

  @media screen and (max-width: $breakpoint-desktop) {
    top: 250px;
    left: 3px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    top: 180px;
    left: 0px;
  }

  @media screen and (max-width: $breakpoint-phone) {
    top: 128px;
  }

  @media screen and (max-width: 360px) {
    top: 114px;
  }

  .title-event {
    a {
      display: flex;
      padding: 2rem;
      h4 {
        font-weight: 400;
        font-size: 3rem;
        text-transform: uppercase;

        @media screen and(max-width: $breakpoint-phone) {
          font-size: 2rem;
        }
      }
    }
  }

  .meta-event {
    span {
      color: $text-color;
      display: inline-flex;
      padding-right: 1rem;

      i {
        color: $text-color;
        padding-right: 1rem;
      }
    }
  }
}

.custom-col {
  padding-bottom: 40px;
}
