#feature {
    width: 90%;
    margin: 7rem auto !important;
}

.feature-container {
    position: relative;

    @media screen and (max-width: $breakpoint-desktop) {
        margin: 2rem 0 !important;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.feature-text {
    position: absolute;
    z-index: 999;
    top: 77px;

    h4 {
        margin: 0 auto !important;
        font-weight: 600;
        color: $white;
        text-align: center;
        width: 90%;
        display: block !important;
    }

    p {
        margin: 0 auto !important;
        width: 90%;
        color: $white;
        font-weight: 300;
        text-align: center;
    }

}