.copyright {
    background-color: $copyright-bg;
    padding-top: 10px;
    padding-bottom: 10px;

    p {
        color: $copyright-text;
        text-transform: capitalize;
        font-size: 16px;
        margin: 0 auto !important;
        width: 90%;

    }

}

footer {
    background-color: $footer-bg;
}

.footer-container {
    width: 90%;
    margin: 0 auto !important;

    @media screen and (max-width: $breakpoint-desktop) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

    }

    @media screen and (max-width: $breakpoint-phone) {
        display: block;

    }
}

.footer-col {
    padding: 7rem 0;

    p {
        font-weight: 400;
        font-size: 1.3rem;
        padding: 2rem 0;
    }

    h5 {
        font-weight: 700;
    }
}

.footer-menu-container {
    @media screen and (max-width: $breakpoint-phone) {
        display: none;

    }
}

.footer-menu {
    a {
        font-weight: 400;
        color: $copyright-text;
        padding: 1rem;
        font-size: 1.3rem;


    }
    a:hover {
        background-color: $white;

    }

}

.footer-side {
    padding: 7rem 0;
    background-color: $header-bg;

    @media screen and (max-width: $breakpoint-desktop) {
        display: none;
    }
}

#logo-school {
    height: auto;
    width: 100px;
}

.contact-footer {
    background-color: $footer-contact-bg;
}

.contact-logo {
    padding-left: 1rem;

    img {
        margin-right: 2rem !important;

        @media screen and (max-width: $breakpoint-desktop) {
            margin-right: 0 !important;
        }

        @media screen and (max-width: $breakpoint-tablet) {
            width: auto;
            height: 40px;
        }
    }


}

.footer-call {
    h4 {
        font-weight: 700;
        font-size: 1.3rem;
        color: $white;
    }

    p {
        font-weight: 300;
        font-size: 1.3rem;
        color: $white;
        padding-left: 5px;
    }

}



.footer-contact {

    h5 {
        display: block !important;
        font-weight: 700;
        font-size: 1.3rem;
        color: $white;
        padding-left: 0px;
        width: 90%;
        margin: 0 auto !important;
    }

    p {
        font-weight: 300;
        font-size: 1.3rem;
        color: $white;
        width: 90%;
        margin: 0 auto !important;
    }
}

.footer-icon {
    i {
        font-size: 3rem;
    }
}