.copyright {
  background-color: $copyright-bg;
  padding-top: 15px;
  padding-bottom: 15px;

  p {
    color: $copyright-text;
    text-transform: capitalize;
    font-size: 1.4rem;
    margin: 0 auto !important;
    width: 80%;
  }
}

footer {
  background-color: $footer-bg;
}

.footer-container {
  width: 80%;
  height: 430px;
  margin: 0 auto !important;

  @media screen and (max-width: $breakpoint-desktop) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media screen and (max-width: $breakpoint-phone) {
    display: block;
  }
}

.footer-col {
  padding: 7rem 15px;

  p {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 2rem 0;
    color: $copyright-text;
    line-height: 2.4rem;
  }

  h5 {
    font-weight: 700;
    padding-left: 0;
    font-size: 1.8rem;
  }
}

.footer-menu-container {
  @media screen and (max-width: $breakpoint-phone) {
    display: none;
  }
}

.footer-menu {
  a {
    font-weight: 400;
    color: $copyright-text;
    padding: 1rem 0;
    font-size: 1.3rem;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    &:hover {
      background: none !important;
      padding-left: 5px;
      color: $copyright-text;
    }
  }
}

.footer-side {
  padding-top: 53px;
  background-color: $header-bg;
  height: 430px;
  width: 360px;

  @media screen and (max-width: $breakpoint-desktop) {
    display: none;
  }

  .contact-info {
    padding-left: 85px;
  }
}

#logo-school {
  height: auto;
  width: 100px;
}

.contact-footer {
  background-color: $footer-contact-bg;
}

.contact-logo {
  margin-top: 30px !important;

  img {
    margin-right: 2rem !important;

    @media screen and (max-width: $breakpoint-desktop) {
      margin-right: 0 !important;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      width: auto;
      height: 40px;
    }
  }
}

.footer-call {
  line-height: 1;

  span {
    font-size: 19px;
    font-weight: 400;
    color: $white;
    h6 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 2rem;
      color: $white;
    }
  }
}

.footer-contact {
  h5 {
    display: block !important;
    font-weight: 700;
    font-size: 1.3rem;
    color: $white;
    padding-left: 0px;
    width: 80%;
    margin: 0 auto !important;
  }

  p {
    font-weight: 300;
    font-size: 1.3rem;
    color: $white;
    width: 80%;
    margin: 0 auto !important;
  }
}

.footer-icon {
  i {
    font-size: 3rem;
  }
}
