/* About Section */
#about {
  background-color: $about-bg;
}

.about-container {
  margin: 0 auto !important;
  width: 80%;

  h4 {
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
    display: block !important;
    padding-top: 6rem;
  }

  p {
    font-weight: 400;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    color: $text-color;
  }
}

.signe {
  text-align: center;
  padding: 5rem 0;

  h6 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-size: 1.5rem;
    color: $text-color;
  }
}

/* Call To Action Section */
#calltoaction {
  width: 80%;
  margin: 8rem auto !important;
  background-color: $ad-bg;
  border-radius: 5px;
  height: 13rem;
  padding: 32px;

  @media screen and (max-width: $breakpoint-desktop) {
    width: 100%;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    height: 24rem;
  }

  .row {
    align-items: center;

    @media screen and (max-width: $breakpoint-tablet) {
      display: block;
      text-align: center;
    }
    .col {
      .row {
        .col {
          @media screen and (max-width: $breakpoint-tablet) {
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}

.action-intro {
  color: $white;
  font-weight: 600;
  font-size: 2rem;

  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 1.4rem;
    justify-content: center;
  }
}

%button-shared {
  //border-radius: 40px !important;
  width: 182px;
  height: 53px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px !important;
  text-transform: uppercase;

  @media screen and (max-width: $breakpoint-tablet) {
    //padding: 0 !important;
    border-radius: 30px !important;
  }
}

.btn-light {
  background-color: white !important;
  @extend %button-shared;
  color: $button-bg !important;
}

.rounded-button {
  @extend %button-shared;
  border: 1px solid $white;
}

/* Events Section */
#events {
  padding: 7rem 0;
  width: 80%;
  margin: 0 auto !important;
  @media screen and (max-width: $breakpoint-phone) {
    width: 100%;
  }
}

.events-text {
  h4 {
    font-weight: 600;
    font-size: 2rem;
    display: block !important;
    text-align: left;
    padding: 0;
  }

  p {
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: $text-color;
    padding: 5px 0;
  }

  h6 {
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.3rem;
    padding-top: 1rem;
  }
}

.events-img {
  padding: 4px 0;

  img {
    width: 100%;
    height: auto;

    @media screen and (max-width: $breakpoint-phone) {
      padding: 2rem 0;
    }
  }
}

.events-schedule {
  background-color: #4f59b6;
  border-radius: 5px;

  @media screen and (max-width: $breakpoint-tablet) {
    margin-top: 4rem !important;
  }

  h4 {
    font-weight: 600;
    font-size: 1.4rem;
    color: $white;
    text-transform: capitalize;
  }

  p {
    font-weight: 300;
    color: $white;
    text-align: start;
    font-size: 1.4rem;
  }

  h5 {
    color: $white;
  }
}

p {
  span {
    padding: 20px;
  }
}

%background-property {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: 100%;
  height: 46rem;
}

/* Feature Section */
#feature {
  width: 80%;
  margin: 0 auto 5rem !important;

  @media screen and (max-width: $breakpoint-phone) {
    width: 100%;
    margin: 1rem auto !important;
  }

  .row {
    .featurecol-1 {
      background-image: url("../../assets/img/Back4.png");
      @extend %background-property;
    }

    .featurecol-2 {
      background-image: url("../../assets/img/Back3.png");
      @extend %background-property;
    }

    .featurecol-3 {
      background-image: url("../../assets/img/Back2.png");
      @extend %background-property;
    }

    .featurecol-4 {
      background-image: url("../../assets/img/Back.png");
      @extend %background-property;
    }
  }
}

.feature-container {
  @media screen and (max-width: $breakpoint-desktop) {
    margin: 1rem 0 !important;
  }
}

.feature-text {
  h4 {
    margin: 0 auto !important;
    font-weight: 600;
    font-size: 1.7rem;
    color: $white;
    text-align: center;
    width: 100%;
    display: block !important;
  }

  p {
    margin: 0 auto !important;
    width: 100%;
    color: $white;
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 3rem;
  }
}

/* News Section */
#news {
  padding-top: 45px;
}

.news-container {
  width: 80%;
  margin: 0 auto !important;
  @media screen and (max-width: $breakpoint-phone) {
    width: 100%;
  }
}

.news-update {
  border: 1px solid #eeeeee;

  img {
    width: 100%;
    height: auto;
  }
}

.news-text {
  padding: 0 2rem;

  h4 {
    font-weight: 600;
    font-size: 20px;
    padding: 1rem 0 2rem 0;
    text-transform: capitalize;
  }

  p {
    font-weight: 400;
    font-size: 1.3rem;
  }

  h5 {
    padding: 1.5rem 0 3rem 0;
  }
}

.blog {
  padding: 1rem 0;
  border: 1px solid #eeeeee;

  h4 {
    font-weight: 600;
    text-transform: capitalize;
    padding: 1rem 0;
    width: 80%;
    margin: 0 auto !important;
  }

  p {
    font-weight: 400;
    font-size: 1.3rem;
    display: block !important;
    width: 80%;
    margin: 0 auto !important;
  }
}

/* Testimonial Section */
#testimonial {
  background-image: url("../../assets/img/background.png");
  padding: 7rem 0;
}

.testimonial-container {
  width: 80%;
  margin: 0 auto !important;
  @media screen and (max-width: $breakpoint-phone) {
    width: 100%;
  }

  h4 {
    font-weight: 600;
    font-size: 3rem;
    text-transform: capitalize;
    padding: 2rem 0;
    display: block !important;
    text-align: center;
    color: $white;
  }
}

.testimonial-text {
  margin: 0 2rem !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 3rem;
  background-color: $testimonial-bg;
  border-radius: 5px;
  display: flex;

  p {
    color: $white;
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 5px;
    line-height: 2;
  }

  h5 {
    color: $white;
    font-weight: 600;
    font-size: 1.3rem;
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 0;
  }
}
