#news {
    padding: 7rem 0;
}

.news-container {
    width: 90%;
    margin: 0 auto !important;
}

.news-update {
    border: 1px solid #eeeeee;
    margin: 0 1px;

    img {
        width: 100%;
        height: auto;
    }

}

.news-text {
    h4 {
        font-weight: 600;
        font-size: 1.6rem;
        padding: 1rem 0;
        text-transform: capitalize;
    }

    p {
        font-weight: 300;
        font-size: 1.3rem;
    }

    h5 {
        padding: 1rem 0;

    }

}

.blog {
    padding: 1rem 0;
    border: 1px solid #eeeeee;

    h4 {
        font-weight: 600;
        text-transform: capitalize;
        padding: 1rem 0;
        width: 90%;
        margin: 0 auto !important;

    }

    p {
        font-weight: 300;
        font-size: 1.3rem;
        display: block !important;
        width: 90%;
        margin: 0 auto !important;
    }
}