#testimonial {
    background-image: url("../../assets/img/background.png");
    padding: 7rem 0;
}

.testimonial-container {
    width: 90%;
    margin: 0 auto !important;

    h4 {
        font-weight: 600;
        font-size: 3rem;
        text-transform: capitalize;
        padding: 2rem 0;
        display: block !important;
        text-align: center;
        color: $white;
    }

}

.testimonial-text {
    padding: 3rem;
    background-color: $testimonial-bg;
    border-radius: 5px;

    p {
        color: $white;
        font-weight: 300;
        font-size: 1.3rem;
        padding: 5px;
    }

    h3 {
        color: $white;
        font-weight: 600;
        font-size: 1.3rem;
        padding: 2rem 0 0;
    }

}